<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Signup</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/download.jpeg') }}">
</head>
<body>
   <header>
    <nav class="navbar">
      <div class="nav-logo">National Travel Management System</div>
      <ul class="nav-links">
        <li><a href="{{ url_for('auth.home') }}">Home</a></li>
        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
        <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('about') }}">About</a></li>
        
      </ul>
      <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </nav>
  </header>
  <main></main>
  <div class="form-container">
    <h2>Create an Account</h2>
    <form action="{{ url_for('auth.signup') }}" method="POST" onsubmit="return validateSignupForm()">
      <label>Email:</label>
      <input type="email" name="email" required>

      <label>Username:</label>
      <input type="text" name="username" required>
<p class="password-info">must contain at least 8 characters including one uppercase,numeric and special char</p>
  <label>Password:</label>
<input type="password" name="password" id="password" required>

<label>Confirm Password:</label>
<input type="password" name="confirm_password" id="confirm_password" required>

<label class="show-password-label">
  <input type="checkbox" onclick="togglePassword()"> Show Password
</label>


      <label>Solve: <span id="captcha-question"></span></label>
      <input type="text" name="captcha" id="captcha" required>

      <input type="hidden" name="captcha_answer" id="captcha_answer">

      <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login here</a></p>
  </div>
</main>
<footer class="simple-footer">
  <div class="footer-content">
    <p>&copy; 2025 National Travel Management System</p>
   
</footer>
  <script src="{{ url_for('static', filename='js/signup_script.js') }}"></script>
</body>
</html>
