<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/download.jpeg') }}">
</head>
<body>
    <header>
    <nav class="navbar">
      <div class="nav-logo">National Travel Management System</div>
      <ul class="nav-links">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('show_signup') }}">Sign Up</a></li>
      </ul>
      <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </nav>
  </header>
    <main>
        <h1 class="welcome-title">Welcome, {{ username }}!</h1>
        <a href="{{ url_for('logout') }}" class="welcome-logout-link">Logout</a>
    </main>
<footer class="simple-footer">
  <div class="footer-content">
    <p>&copy; 2025 National Travel Management System</p>
  </div>
</footer>
<script>
  const toggle = document.getElementById('menu-toggle');
  const navLinks = document.querySelector('.nav-links');
  toggle.addEventListener('click', () => {
    navLinks.classList.toggle('active');
  });
</script>
</body>
</html>